.cv-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 16px;

    &--gray {
      background-color: var(--black-color-5);
      display: flex;
      flex-direction: column;
      padding: 16px;
    }
  }

  &--profile {
    background-color: var(--profile-background);
    position: relative;

    .cv-card__content--gray {
      background-color: var(--main-color-180);
      height: 122px;
      border-bottom: 3px solid var(--main-color-180);
    }

    .cv-card__content {
      background-color: unset;
      padding-top: 94px;
      padding-bottom: 24px;
    }
  }
}
