:root {
  --main-color-225: #3c3cff;
  --main-color-220: #4646ff;
  --main-color-215: #5050ff;
  --main-color-210: #5a5aff;
  --main-color-205: #6464ff;
  --main-color-200: #6e6eff; // Main
  --main-color-195: #7878ff;
  --main-color-190: #8282ff;
  --main-color-185: #8c8cff;
  --main-color-180: #9696ff; // Light
  --main-color-175: #a0a0ff;
  --main-color-170: #aaaaff;
  --main-color-165: #b4b4ff;
  --main-color-160: #bebeff;
  --main-color-155: #c8c8ff;
  --main-color-150: #d2d2ff;
  --main-color-145: #dcdcff;
  --main-color-140: #e6e6ff;
  --main-color-135: #f0f0ff;
  --main-color-130: #fafaff;
  --main-color-125: #fffffa;
  --main-color-120: #ffffe6;

  --border-color: #dcdcdc;
  --dark-color-border: #333;

  --black-color-90: #1a1a1a;
  --black-color-80: #333;
  --black-color-70: #010101;
  --black-color-65: #595959;
  --black-color-60: #666;
  --black-color-50: #808080;
  --black-color-40: #999;
  --black-color-30: #b3b3b3;
  --black-color-20: #ccc;
  --black-color-10: #e5e5e5;
  --black-color-5: #efefef;

  --profile-background: #444;

  --white-color: #fff;
  --black-color: #000;

  --lenguage-color: #6e6eff;
  --framework-color: #00B600;
  --ci-color: #905D18;
  --database-color: #FFD61F;
  --utils-color: #888b90;
  --others-color: #ff9200;
}
