/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "roboto-thin";
  src: url("../../assets/fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-semibold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto-Black.ttf");
}
.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

span.separator {
  border-radius: 2px;
  background-color: var(--main-color-200);
  height: 4px;
  width: 80px;
  margin-bottom: 16px;
}
span.separator--dark {
  background-color: var(--black-color-40);
  height: 1px;
  width: 100%;
}

:root {
  --main-color-225: #3c3cff;
  --main-color-220: #4646ff;
  --main-color-215: #5050ff;
  --main-color-210: #5a5aff;
  --main-color-205: #6464ff;
  --main-color-200: #6e6eff;
  --main-color-195: #7878ff;
  --main-color-190: #8282ff;
  --main-color-185: #8c8cff;
  --main-color-180: #9696ff;
  --main-color-175: #a0a0ff;
  --main-color-170: #aaaaff;
  --main-color-165: #b4b4ff;
  --main-color-160: #bebeff;
  --main-color-155: #c8c8ff;
  --main-color-150: #d2d2ff;
  --main-color-145: #dcdcff;
  --main-color-140: #e6e6ff;
  --main-color-135: #f0f0ff;
  --main-color-130: #fafaff;
  --main-color-125: #fffffa;
  --main-color-120: #ffffe6;
  --border-color: #dcdcdc;
  --dark-color-border: #333;
  --black-color-90: #1a1a1a;
  --black-color-80: #333;
  --black-color-70: #010101;
  --black-color-65: #595959;
  --black-color-60: #666;
  --black-color-50: #808080;
  --black-color-40: #999;
  --black-color-30: #b3b3b3;
  --black-color-20: #ccc;
  --black-color-10: #e5e5e5;
  --black-color-5: #efefef;
  --profile-background: #444;
  --white-color: #fff;
  --black-color: #000;
  --lenguage-color: #6e6eff;
  --framework-color: #00B600;
  --ci-color: #905D18;
  --database-color: #FFD61F;
  --utils-color: #888b90;
  --others-color: #ff9200;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  z-index: 1;
}

body {
  margin: 0;
}

@media print {
  body {
    height: auto;
    margin: 0;
    border: 0;
    padding: 0mm;
    -webkit-print-color-adjust: exact !important;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cv-background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url("../assets/imgs/background_image.png");
  background-size: 100% 100%;
}

.cv-background__overlay {
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.cv-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 16px;
  gap: 24px;
}
@media (min-width: 1024px) {
  .cv-content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    column-gap: 24px;
  }
  .cv-content .cv-card:nth-child(1) {
    width: 280px;
  }
  .cv-content .cv-card:not(:nth-child(1)) {
    flex-grow: 1;
  }
  .cv-content .cv-card:nth-child(2) {
    flex: 1;
  }
}
@media print {
  .cv-content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    column-gap: 24px;
  }
  .cv-content .cv-card:nth-child(1) {
    width: 280px;
  }
  .cv-content .cv-card:not(:nth-child(1)) {
    flex-grow: 1;
  }
  .cv-content .cv-card:nth-child(2) {
    flex: 1;
  }
}
@media print {
  .cv-content {
    padding: 48px 32px;
  }
  .cv-content .cv-card:nth-child(2), .cv-content .cv-card:nth-child(3) {
    page-break-after: always;
  }
}

.cv-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cv-card__content {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.cv-card__content--gray {
  background-color: var(--black-color-5);
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.cv-card--profile {
  background-color: var(--profile-background);
  position: relative;
}
.cv-card--profile .cv-card__content--gray {
  background-color: var(--main-color-180);
  height: 122px;
  border-bottom: 3px solid var(--main-color-180);
}
.cv-card--profile .cv-card__content {
  background-color: unset;
  padding-top: 94px;
  padding-bottom: 24px;
}

.cv-image {
  border: 3px solid var(--main-color-180);
  border-radius: 50%;
  height: 180px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  overflow: hidden;
  top: 24px;
  width: 180px;
  z-index: 2;
}
.cv-image__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.cv-text--name {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 auto 12px;
}
.cv-text--name :first-child {
  color: var(--white-color);
  font-size: 20px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-medium";
  letter-spacing: 0.4px;
}
.cv-text--name :last-child {
  color: var(--main-color-160);
  font-size: 22px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-semibold";
  letter-spacing: 0.2px;
}

h2.cv-text {
  color: var(--black-color-60);
  font-size: 26px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-semibold";
}

h3.cv-text {
  color: var(--black-color-70);
  font-size: 16px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-semibold";
}

h4.cv-text {
  color: var(--black-color-60);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-medium";
}

p.cv-text {
  color: var(--black-color-80);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-regular";
  margin-bottom: 16px;
}

p.cv-text-last {
  color: var(--black-color-80);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-regular";
  margin-bottom: 0;
}

li.cv-text {
  color: var(--black-color-90);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-regular";
}

span.cv-text {
  color: var(--black-color-50);
  font-size: 12px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 14px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-regular";
}

div.cv-badge {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 24px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-medium";
}
div.cv-badge__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  column-gap: 8px;
  padding: 24px;
}
div.cv-badge--position {
  align-self: center;
  background-color: var(--black-color-60);
  line-height: 20px;
}
div.cv-badge--lenguage {
  background-color: var(--lenguage-color);
}
div.cv-badge--framework {
  background-color: var(--framework-color);
}
div.cv-badge--ci {
  background-color: var(--ci-color);
}
div.cv-badge--database {
  background-color: var(--database-color);
}
div.cv-badge--utils {
  background-color: var(--utils-color);
}
div.cv-badge--others {
  background-color: var(--others-color);
}

.cv-social {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.cv-social__link {
  padding: 4px;
}
.cv-social__icon {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 300;
}

.cv-information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
}
.cv-information__data {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.cv-information__icon {
  font-size: 16px;
  color: var(--white-color);
}
.cv-information__description {
  color: var(--white-color);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-regular";
  text-decoration: none;
}
.cv-information a:hover {
  text-decoration: underline;
}
.cv-information__button {
  color: var(--white-color);
  font-size: 14px;
  font-weight: unset;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  font-family: "roboto-medium";
  background-color: var(--black-color-50);
  border-radius: 20px;
  margin-top: 24px;
  padding: 8px;
  border: none;
  letter-spacing: 0.5px;
  transition: all 0.1s;
}
.cv-information__button:hover {
  background-color: var(--black-color-60);
}
@media print {
  .cv-information__button {
    display: none;
  }
}

.cv-cronology {
  display: flex;
  flex-direction: column;
}
.cv-cronology__bullet {
  background-color: var(--main-color-150);
  border-radius: 50%;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 4px;
}
.cv-cronology__bullet::after {
  background-color: var(--main-color-200);
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  left: 2px;
  top: 2px;
}
.cv-cronology__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.cv-cronology__title {
  margin-bottom: 2px;
}
.cv-cronology__subtitle {
  margin-bottom: 8px;
}
.cv-cronology__item {
  padding-left: 16px;
  position: relative;
  padding-bottom: 24px;
}
.cv-cronology__item::before {
  background-color: var(--black-color-20);
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 5px;
  top: 0;
}
.cv-cronology__item:first-child::before {
  top: 6px;
}
.cv-cronology__item:last-child {
  padding-bottom: 0;
}
@media (min-width: 1024px) {
  .cv-cronology__item {
    padding-left: 32px;
  }
}
@media print {
  .cv-cronology__item {
    padding-left: 32px;
  }
}
.cv-cronology__data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
@media (min-width: 1024px) {
  .cv-cronology__data {
    padding-left: 16px;
  }
}
@media print {
  .cv-cronology__data {
    padding-left: 16px;
  }
}
@media (min-width: 1024px) {
  .cv-cronology__data-item {
    list-style-type: disc;
  }
}
@media print {
  .cv-cronology__data-item {
    list-style-type: disc;
  }
}

/*# sourceMappingURL=styles.css.map */
